*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 0, 0);
    background-image: url(finally.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
footer{
    width: 100%;
    height: 40px;
    position: absolute;
    top: 110vh;
    background-size: cover;
    background-color: black;
    overflow-x: hidden;
}
video{
    display: flex;
    height: 100%;
}
.video{
    width: 408px;
    height: 43%;
    max-width: 27%;
    /* max-height: 320px; */
    /* border: 1px solid white; */
    overflow: hidden hidden;
    display: flex;
    justify-content: center;
    /* margin-top: -110px; */
    position: absolute;
    top: 90px;
    margin: 0;
}
.bdaytext{
    display: flex;
    padding: 40px;
    font-size: 70px;
    font-family: 'gloria hallelujah';
    color: white;
    visibility: hidden;
}
@media(max-height: 950){
    .image{
        position: absolute;
    }
    body{
        background-image: url(reso.png);
    }
}
@media(max-width: 1600px){
    body{
        background-image: url(reso.png);
        width: 100%;
        background-size: cover;
    }
    .image{
        margin-bottom: 60px;
    }
}
@media(max-width: 1279px){
    *{
        display: none;
    }
}
/* @media(max-height: 720px){
    *{
        display: none;
    }
} */
#loader{
    background: #fff url('Heart\ arrow.gif') no-repeat center center;
    height: 1000vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
}
